@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Reset stylesheet */

* {
	margin: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	object-fit: cover;
}

body {
	--num-cols: 3;
	width: 80%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	gap: 2rem;
	font-family: "Open Sans", sans-serif;
}

@media screen and (width < 1200px) {
	body {
		--num-cols: 2;
	}
}

@media screen and (width < 700px) {
	body {
		--num-cols: 1;
	}
}

h1 {
	text-align: center;
	grid-column: 1 / span var(--num-cols);
	margin: 2em 0;
}

.container {
	display: flex;
	flex-flow: column nowrap;
}

.container > * {
	margin-bottom: 1rem;
}

.container img {
	display: block;
	order: -1;
}

.index {
	display: block;
	text-align: center;
	font-size: 3rem;
	color: #032541;
}

.title {
	color: #032541;
}

.score > p {
	font-size: 1.5rem;
	font-weight: 700;
}

.container p, .container q {
	position: relative;
	font-size: 1.2rem;
}

q::before, q::after {
	position: absolute;
	color: #04b4e3;
	font-size: 2em;
}

q::before {
	top: -1rem;
	left: -1rem;
}

q::after {
	bottom: -1rem;
}