
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Caleb Bronn">
  <meta name="description" content="">
  <title>Hello {{person}}</title>
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>

<!-- person variable comes from Crow App -->
<h1>Hello <a href="{{person}}">{{person}}</a>!</h1>

<a href="movie/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg">Go to LOTR</a>

</body>

</html>